.push {
    margin-left: auto;
}

.display-block {
    display: block;
}

.nav-wrapper {
    display: flex;
    padding: 20px 20px 0 20px;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    font-weight: 600;
    font-size: 24px;
    flex: 1 1 auto;
}

.fa-bars {
    color: #8a8686;
}

nav {
    background-color: #ececec78;
}

ul {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    display: flex;
    justify-content: flex-end;

    a:hover {
        border-bottom: 2px solid #8c8888;
    }
}

@media screen and (min-width: 748px) {
    .hamburger {
        display: none;
    }

    ul {
        flex-direction: row;
    }

    li {
        padding-left: 5em;
        font-size: 22px;
    }

    a {
        text-decoration: none;
        color: #302d2d;
    }

    li:last-child {
        padding-right: 5em;
    }

}

@media screen and (max-width: 748px) {
    ul {
        flex-direction: column;
    }

    a {
        text-decoration: none;
        color: #302d2d;
    }

    li {
        display: none;
        font-size: 22px;
    }

    li:last-child {
        margin-bottom: 10px;
    }
}