<nav>
    <div class="nav-wrapper">
        <div class="logo">
            <a class="logo" routerLink="/home">Ui Spike</a>
        </div>
        <div class="hamburger push">
            <a eref="javascript:void(0);" (click)="toggleMenu()">
                <i class="fa fa-bars fa-2x" [ngClass]="{'fa-bars': !menuIsActive, 'fa-times': menuIsActive}"></i>
            </a>
        </div>
    </div>
    <ul class="push">
        <li [class.display-block]="menuIsActive">
            <a routerLink="/home" routerLinkActive="active">HOME</a>
        </li>
        <li [class.display-block]="menuIsActive">
            <a routerLink="/about" routerLinkActive="active">ABOUT</a>
        </li>
        <li [class.display-block]="menuIsActive">
            <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
        </li>
    </ul>
</nav>