
.display-block {
    display: block;
}

.fa-bars {
    color: #5d5a5a;
}

.active {
    font-weight: 600;
}

nav {
    background-color: #ececec78;
}

ul {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 748px) {
    .nav-wrapper {
        padding: 5px 20px 0 20px;
    }

    .logo {
        font-family: 'Permanent Marker', cursive;
        font-weight: 600;
        font-size: 24px;
        color: #5d5a5a;
        vertical-align: middle;
        display: flex;
    }

    .hamburger {
        display: none;
    }

    li {
        padding-left: 2em;
        font-size: 14px;
    }

    a {
        text-decoration: none;
        color: #302d2d;
    }

    li:last-child {
        padding-right: 5em;
    }

    nav {
        background-color: #ececec78;
        display: flex;
    }
}

@media screen and (max-width: 748px) {
    .nav-wrapper {
        display: flex;
        padding: 20px 20px 0 20px;
    }

    .logo {
        font-family: 'Permanent Marker', cursive;
        font-weight: 600;
        font-size: 24px;
        flex: 1 1 auto;
        color: #5d5a5a;
    }

    ul {
        border-top: 1px solid #e2dada;
        flex-direction: column;
    }

    a {
        text-decoration: none;
        color: #302d2d;
    }

    li {
        display: none;
        font-size: 18px;
        padding: 2px;
    }

    li:first-child {
        margin-top: 10px;
    }

    li:last-child {
        margin-bottom: 10px;
    }
}