<div class="content-wrapper">
    <div class="left-content">
        <section class="left-content-item">
            <p>
                <strong>Hey there</strong>
                Hi, these are things. Please look at them and have a great time.
            </p>
        </section>
    </div>
    <div class="right-content">
        <section class="right-content-item">
            <h4>This Thing</h4>
            <div class="underline-gradient"></div>
            <p>
                Some other things going on here
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a
                type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
            </p>
            <p>

                type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                containing Lorem
            </p>
        </section>
        <section class="right-content-item">
            <h4>This One Too</h4>
            <div class="underline-gradient"></div>
            <p>
                Some other things going on here
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a
                type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                containing Lorem
            </p>
        </section>
    </div>
    