hr {
  border: 1px solid #4200ff;
}


@media screen and (min-width: 748px) {
  .content-wrapper {
    display:flex;
  }

  .left-content {
    max-width: 600px;
  }

  .right-content {
    margin-left: 75px;
    max-width: 1000px;
  }

  .right-content-item {
    padding: 0 25px 0 25px;
    margin-bottom: 100px;
  }

  .left-content-item {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .left-content {
    max-width: 600px;
  }

  .right-content {
    margin-left: 50px;
    max-width: 800px;
  }

  .right-content-item {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .left-content {
    margin-bottom: 65px;
  }

  .right-content-item {
    margin-bottom: 50px;
  }
}